<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>SuperDex</title>
<link rel="stylesheet" type="text/css" media="all" href="style.css" />
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css" />
<link rel="stylesheet" type="text/css" href="style/js/player/mediaelementplayer.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/retina.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="style/js/mediaelement.min.js"></script>
<script type="text/javascript" src="style/js/mediaelementplayer.min.js"></script>
<script type="text/javascript" src="style/js/jquery.dcflickr.1.0.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
<script type="text/javascript">
	$.backstretch("style/images/bg/pokedex-booting_mod.jpg");
</script>
</head>
<body>
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <a href="main_search.html">
				<img src="style/images/Superdex_logo.png" alt="" />
			</a>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
					<li><a href="main_search.html">Search</a>
					</li>
					<li><a href="">Settings</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<!--<ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul> --><!-- End Intro --> 

<!-- Begin Container -->
<div class="box">
	<h1 class="title">Pokémon1 vs Pokémon2: PokémonX is the stronger Pokémon</h1>
	<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	<div class="one-half">
	<h4> Key Similarties </h4>	
		<ul>
			<li>Similarity</li>
			<li>Similarity</li>
			<li>Similarity</li>
			<li>Similarity</li>
			<li>Similarity</li>
		</ul>
	
	</div>

	<div class="one-half last">
	<h4> Key Differences </h4>
		<ul>
			<li>Difference</li>
			<li>Difference</li>
			<li>Difference</li>
			<li>Difference</li>
			<li>Difference</li>
		</ul>
	
	
	</div>
	<hr />
	<br />
	<h4> Comparison by Base Stats </h4>
	<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	<table width="100%">
		<tr>
			<td></td>
			<th>Pokémon1</th>
			<th>Pokémon2</th>
		</tr>
		<tr>
			<th class="compare">HP</th>
			<!-- example of highlighted stat -->
			<td><span class="lite1">X</span></td>
			<td>X</td>
		</tr>
		<tr>
			<th>Attack</th>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<th>Special Attack</th>
			<td>X</td>
			<!-- example of highlighted stat -->
			<td><span class="lite1">X</span></td>
		</tr>
		<tr>
			<th>Special Defense</th>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<th>Speed</th>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>X</td>
			<td>X</td>
		</tr>
		
	</table>
	<br />
	<hr>
	<h4> Comparison by Abilities </h4>
	<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	
	<table width="100%">
		<tr>
			<td></td>
			<th>Pokémon1</th>
			<th>Pokémon2</th>
		</tr>
		<tr>
			<th class="compare">Ability #1</th>
			<td>Ability</td>
			<td>Ability</td>
		</tr>
		<tr>
			<th>Ability #2</th>
			<td>Ability</td>
			<td>Ability</td>
		</tr>

		
	</table>
	<hr />
	<h4> Comparison by Type Advantages </h4>
	<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	<table width="100%">
		<tr>
			<td></td>
			<th>Pokémon1</th>
			<th>Pokémon2</th>
		</tr>
		<tr>
			<th class="compare">Type</th>
			<td>Pokémon1 Type</td>
			<td>Pokémon2 Type</td>
		</tr>
		<tr>
			<th>Normal</th>
			<td>xY</td>
			<td>xY</td>
		</tr>
		<tr>
			<th>Fire</th>
			<td>xY</td>
			<td>xY</td>
		</tr>
		<tr>
			<th>Water</th>
			<td>xY</td>
			<td>xY</td>
		</tr>
		<tr>
			<th>Electric</th>
			<td>xY</td>
			<td>xY</td>
		</tr>

		
	</table>
	<br />

	
		
</div>
		<div class="clear"></div>

</div>
<!-- End Container -->

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="four">
		<div id="first" class="widget-area">
			<div class="widget widget_archive">
				<h3 class="widget-title">Recently Searched Pokémon</h3>
				<ul>
					<li><a href="#">Pokémon 1</a></li>
					<li><a href="#">Pokémon 2</a></li>
					<li><a href="#">Pokémon 3</a></li>
					<li><a href="#">Pokémon 4</a></li>
					<li><a href="#">Pokémon 5</a></li>
		
				</ul>
			</div>
		</div>
		<div id="second" class="widget-area">
			<div class="widget widget_archive">
				<h3 class="widget-title">Recently Searched Comparisons</h3>
				<ul>
					<li><a href="#">Pokémon 1 vs Pokémon 2</a> </li>
					<li><a href="#">Pokémon 3 vs Pokémon 2</a></li>
		
				</ul>
			</div>
		</div>
	</div>
</div> 
<div class="site-generator-wrapper">
	<div class="site-generator">SuperDex is a CS473 Project by Devon Balicki, James Cheng, Dalton Johnson, and Jeff Zhu <br />
		Template Design Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved. Pokedex Wallpaper distributed by <a href="http://www.superbwallpapers.com/games/pokedex-booting-15992/">Superb Wallpapers </a></div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>
