<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>SuperDex</title>
<link rel="stylesheet" type="text/css" media="all" href="style.css" />
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css" />
<link rel="stylesheet" type="text/css" href="style/js/player/mediaelementplayer.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/retina.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="style/js/mediaelement.min.js"></script>
<script type="text/javascript" src="style/js/mediaelementplayer.min.js"></script>
<script type="text/javascript" src="style/js/jquery.dcflickr.1.0.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
<script type="text/javascript">
	$.backstretch("style/images/bg/pokedex-booting_mod.jpg");
</script>
</head>
<body>
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <a href="index.html">
				<img src="style/images/Superdex_logo.png" alt="" />
			</a>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
					<li><a href="main_search_withuserinfo.html">Search</a>
					</li>
					<li><a href="settings.html">Settings</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">Welcome to SuperDex<br />
 the Pokédex that answers the questions that matter
 </div>
 
<!-- Begin Container -->
<div class="box">

<div class="widget widget_search">
				<h3 class="widget-title">User Settings</h3>
				<form name="updateemail" action="" method="get" accept-charset="utf-8">   
						<label for="usermail">Update Email</label>  <br>
						<label for="usermail">Current Email: example_email@gmail.com</label>  
						<input type="email" name="usermail" placeholder="enter new email" required>  
						<input type="submit" value="Update email"> <br /><br />
				</form>
				<form name="changepassword" action="" method="get" accept-charset="utf-8">   	
						<label for="password">Change Password</label>  
						<input type="password" name="currentpassword" placeholder="enter current password" required>
						<input type="password" name="currentpassword" placeholder="enter new password" required>  
						<input type="submit" value="Change password"> <br /><br />
						
						<label for="generations">Change SuperDex Generation</label> <br />
						<label for="generations">Current Generation: 5</label>  
				</form>
				<form name="updategen" action="" method="get">	
						<input type=text list=generations>
						<datalist id=generations>
							<option value="1">
							<option value="2">
							<option value="3">
							<option value="4">
							<option value="5">
							<option value="6">
						</datalist>
						<input type="submit" value="Change SuperDex Generation">
				</form>
				</form> 
				
			</div>
			<br />

		</div>
		<div class="clear"></div>

</div>
<!-- End Container -->

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="two">
	<div id="first" class="widget-area">
			<div class="widget widget_archive">
				<h3 class="widget-title">Recently Searched Pokémon</h3>
				<ul>
					<li><a href="#">Pokémon 1</a></li>
					<li><a href="#">Pokémon 2</a></li>
					<li><a href="#">Pokémon 3</a></li>
					<li><a href="#">Pokémon 4</a></li>
					<li><a href="#">Pokémon 5</a></li>
		
				</ul>
			</div>
		</div>
		<div id="second" class="widget-area">
			<div class="widget widget_archive">
				<h3 class="widget-title">Recently Searched Comparisons</h3>
				<ul>
					<li><a href="#">Pokémon 1 vs Pokémon 2</a> </li>
					<li><a href="#">Pokémon 3 vs Pokémon 2</a></li>
		
				</ul>
			</div>
		</div>
	</div>	
</div> 
<div class="site-generator-wrapper">
	<div class="site-generator">SuperDex is a CS473 Project by Devon Balicki, James Cheng, Dalton Johnson, and Jeff Zhu <br />
		Template Design Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved. Pokedex Wallpaper distributed by <a href="http://www.superbwallpapers.com/games/pokedex-booting-15992/">Superb Wallpapers </a></div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>
